@tailwind components;

@layer components {
  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 384px;
    padding: 48px;
    margin-top: 4px;
    margin-bottom: 0;
    border-color: var(--border);
    border-width: 1px;
    border-radius: var(--radius-base);

    &[data-with-codeblock="true"] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      margin-bottom: 0 !important;

      & + figure,
      & + pre,
      :global(.markdown-mdx):has(> &) + pre,
      :global(.markdown-mdx):has(> &) + figure {
        margin-top: 0 !important;
        border-top-width: 0 !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }
    }
  }
}
